__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.egg
*.egg-info/
.pytest_cache/
.coverage
htmlcov/
.nox/
*.spec
build/
dist/
.vscode/           
instance/         
*.db
*.sqlite
*.sqlite3
node_modules/              
npm-debug.log*
yarn-debug.log*
yarn-error.log*
app/blueprints/main/static/src/output.css