<!DOCTYPE html>
<html lang="pt-br" data-theme="abyss">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Portfolio{% endblock %}</title>
  <link href="{{ url_for('main.static', filename='src/output.css') }}" rel="stylesheet">
  {% block head_css %}{% endblock %}
</head>
<body class="bg-base-300 text-white w-full min-h-screen font-sans">
  {% include 'components/header.html' %}
  <div class="container max-w-5xl mx-auto px-4 sm:px-6 lg:px-8">
    {% block content %}{% endblock %}
  </div>
</body>
</html>
