{% for repo in repos %}
  <div class="card bg-base-100 shadow-sm hover:shadow-md transition duration-200">
    <div class="card-body p-4">

      <div class="flex items-center justify-between gap-3">
        <div class="flex-1">
          <h2 class="text-base-content text-sm font-semibold capitalize truncate">
            {{ repo.name }}
          </h2>
          <p class="text-base-content text-xs leading-snug capitalize">
            {{ repo.description or "No description available." }}
          </p>
          <p class="text-error text-xs mt-1">{{ repo.language }}</p>
        </div>

        <a href="{{ repo.html_url }}" target="_blank" class="btn btn-xs btn-primary self-center whitespace-nowrap">
          View
        </a>
      </div>

    </div>
  </div>
{% endfor %}
